---
import { metaConfig } from "@components/metaConfig";
import SEO from "@components/SEO.astro";
import Layout from "@layouts/Layout.astro";
import { getAppConfig } from "@lib/AppConfig";
import { EndPointPaths } from "@lib/EndPointPaths";
import { RequestModel } from "@lib/pojo/requestmodel/RequestModel";
import type { ApiResponse } from "@lib/pojo/responsemodel/ApiResponse";
import type { DisclaimerResponse } from "@lib/pojo/responsemodel/DisclaimerResponse";
import type { ResponseModel } from "@lib/pojo/responsemodel/ResponseModel";
import {
    apiCalls,
    buildLangUrl,
    generateBreadcrumb,
} from "@lib/postmethodService";

interface Props {
    lang: string;
}
const apiServer = await getAppConfig();

const { lang = apiServer.defaultLanguage } = Astro.props;

const dataCache: Map<string, DisclaimerResponse> = new Map();

async function getData(language: string): Promise<DisclaimerResponse | null> {
    const cacheKey = `${language}_Disclaimer`;
    if (dataCache.has(cacheKey)) {
        return dataCache.get(cacheKey)!;
    }
    const request = new RequestModel();
    request.lang = lang;
    request.extraVariable = "Disclaimer";
    const responseResult: ApiResponse = await apiCalls(
        request,
        EndPointPaths.getpolicies,
    );
    if (responseResult.status !== 0) return null;
    const response: ResponseModel = responseResult.data;
    if (response.statusCode === 0) {
        const data: DisclaimerResponse = response.respObject;
        if (data) {
            dataCache.set(cacheKey, data);
        }
        console.log('')
        return data;
    } else {
        return null;
    }
}
const baseUrl = await buildLangUrl(lang);
const canonicalUrl = baseUrl + "disclaimer";

const siteName = metaConfig.siteName[lang];

const dataObj: DisclaimerResponse = await getData(lang);

if (!dataObj) {
    return new Response("Page data not available", { status: 404 });
}

const jsonLd = [];

const breadCrumb = generateBreadcrumb("Disclaimer Page Breadcrumbs", [
    {
        name: siteName,
        url: baseUrl,
    },
    {
        name: dataObj.metaTitle,
        url: canonicalUrl,
    },
]);

const pageJsonLd = {
    "@context": "https://schema.org",
    "@type": "WebPage",
    name: dataObj.metaTitle,
    description: dataObj.metaDescription,
    url: canonicalUrl,
    inLanguage: lang,
    about: "Disclaimer",
    publisher: {
        "@type": "Organization",
        name: siteName,
        url: apiServer.websiteUrl,
        logo: {
            "@type": "ImageObject",
            url: apiServer.websiteUrl + "logo.webp",
        },
        email: "contact@quronfula.com",
    },
};

jsonLd.push(pageJsonLd);
jsonLd.push(breadCrumb);
---

<SEO
    title={dataObj.metaTitle}
    description={dataObj.metaDescription}
    image={dataObj.bannerImage}
    url={canonicalUrl}
    lang={lang}
    canonical={canonicalUrl}
    noindex={false}
    type={"website"}
    jsonLd={jsonLd}
/>

<Layout>
    <section
        class="legal-page container mx-auto px-4 py-12"
    >
        <main class="container max-w-3xl mx-auto">
            <h1 class="text-4xl font-bold mb-8 text-center">
                {dataObj?.metaTitle}
            </h1>
            <div set:html={dataObj?.description} />
        </main>
    </section>
</Layout>
